/AreaCirculo3/nbproject/private/
/AreaCirculo3/build/
/InputFromConsole/nbproject/private/
/InputFromConsole/build/
/Computeaverage/nbproject/private/
/Computeaverage/build/
/DisplayingTime/nbproject/private/
/DisplayingTime/build/
/FarenheitToCelsius/nbproject/private/
/FarenheitToCelsius/build/
/bienvenido1/nbproject/private/
/SumaEnteros/nbproject/private/
/SumaEnteros/build/
/Comparacion/nbproject/private/
/Comparacion/build/
/LibroCalificaciones/nbproject/private/
/PruebaLibroCalificaciones/nbproject/private/
/LibroCalificaciones/build/
/LibroCalificaciones/dist/
/PruebaLibroCalificaciones/build/
/producto/nbproject/private/
/producto/build/
/laplaya/nbproject/private/
/laplaya/build/
/turnos/nbproject/private/